<!-- <div class="p+">
    <lx-button lx-type="fab"><i class="mdi mdi-plus"></i></lx-button>
</div>
<div class="p+" flex-container="row" flex-gutter="24" flex-wrap>


    <div flex-item="12" class="mt++">
          <span class="fs-title display-block mb">Usuarios</span>

          <div class="divider divider--dark"></div>

          <ul class="list mt++">
              <li class="list-row list-row--has-separator">
                  <div class="list-row__primary">
                      <lx-icon lx-id="folder" lx-size="l" lx-color="grey" lx-type="circled"></lx-icon>
                  </div>

                  <div class="list-row__content">
                      <span>User A</span>
                  </div>
              </li>
              <li class="list-row list-row--has-separator">
                  <div class="list-row__primary">
                      <lx-icon lx-id="file" lx-size="l" lx-color="blue" lx-type="circled"></lx-icon>
                  </div>

                  <div class="list-row__content">
                      <span>User B</span>
                  </div>
              </li>
              <li class="list-row list-row--has-separator">
                  <div class="list-row__primary">
                      <lx-icon lx-id="plus" lx-size="l" lx-color="green" lx-type="circled"></lx-icon>
                  </div>

                  <div class="list-row__content">
                      <span>User C</span>
                  </div>
              </li>
          </ul>
      </div>
  <div class="p+" flex-container="row" flex-gutter="12" flex-wrap>
      <div class="card">

        <div flex-container="row">



              <div class="p+">
                  <strong class="fs-headline display-block"></strong>
                  <span class="fs-subhead tc-black-2 display-block">Nombre del usuario</span>

                  <div class="paragraph fs-body-1 mt+">
                      <p>
                        {{ user.message }}
                      </p>
                  </div>
              </div>


              <div class="card__img card__img--left" style="height: 160px">
                  <img src="http://vignette4.wikia.nocookie.net/nintendo/images/3/31/Red.png/revision/latest?cb=20111124132055&path-prefix=en">
              </div>





        </div>




      </div>
  </div>


</div> -->

<div ng-controller="userCtrl">
  <h1>Pokemon Page</h1>

    <!-- {{ pokemon.message }} -->
<!-- <div flex-item="6" class="mt++"> -->

<div class="p+" flex-container="row" flex-gutter="24">
    <div flex-item>
        <div class="card">
            <div class="toolbar">
                <lx-search-filter>
                    <input type="text" ng-model="user.search">
                </lx-search-filter>
            </div>
        </div>
    </div>
</div>

    <div class="p+" flex-container="row" flex-gutter="24" flex-wrap>
          <div flex-item="6" ng-repeat="item in user.users | filter:user.search">
              <ul class="list mt++">
                  <li class="list-row list-row--has-separator">

                      <div class="list-row__content">
                          <span>{{ item.name}}</span>
                      </div>

                      <div class="list-row__secondary">
                        <lx-icon lx-id="information" lx-size="xs" lx-color="grey" lx-type="flat"></lx-icon>
                      </div>
                  </li>
              </ul>
          </div>
      </div>

    <!-- {{ pokemon.pokemons }} -->

<!-- </div> -->
